TELEGRAM_TOKEN=teu_token_aqui
TELEGRAM_CHAT_ID=teu_chat_id_aqui
RTSP_URL=rtsp://usuario:contrasinal@192.168.1.42:554/stream2
# DETECTION_INTERVAL=5
# COOLDOWN=30
# MAX_COLA=20
# CONF_THRESHOLD=0.5
# RECONNECT_DELAY=5
# READ_TIMEOUT=10
# FOTO_DIR=/tmp
# YOLO_MODEL=yolo11n.pt