TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
RTSP_URL_DETECCION=
YOLO_MODEL=yolo11s.pt
YOLO_DEVICE=cpu
COOLDOWN=7
CONF_THRESHOLD=0.25
RECONNECT_DELAY=5
READ_TIMEOUT=10
FOTO_DIR=/tmp
MAX_COLA=20
YOLO_IMG_SZ=480
JPEG_QUALITY=75
MOTION_THRESHOLD=0.005