TELEGRAM_TOKEN=teu_token_aqui
TELEGRAM_CHAT_ID=teu_chat_id_aqui
RTSP_URL_DETECCION=rtsp://usuario:contrasinal@192.168.1.42:554/stream2
YOLO_MODEL=yolo11n.pt
COOLDOWN=30
DETECTION_INTERVAL=5
CONF_THRESHOLD=0.5
RECONNECT_DELAY=5
READ_TIMEOUT=10
FOTO_DIR=/tmp
MAX_COLA=20
YOLO_IMG_SZ=320
JPEG_QUALITY=75