[Unit]
Description=Vixilancia IA - Gravación continua
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/samuel/Documentos/vixilancia_ia
ExecStart=/usr/bin/bash /home/samuel/Documentos/vixilancia_ia/record_cam.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target