[Unit]
Description=Vixilancia IA - Detección con YOLO
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/samuel/Documentos/vixilancia_ia
ExecStart=/home/samuel/Documentos/vixilancia_ia/venv/bin/python objectDetention.py
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target